html {
  height: 100vh;
}

body {
  background: #000;
  height: 1000vh;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}

img {
  display: none;
  }
